<% form_for @bride do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :paypal_email, "PayPal Email Address" %><br />
    <%= f.text_field :paypal_email %>
  </p>
  <p>
    <%= f.label :wedding_day %><br />
    <%= f.datetime_select :wedding_day %>
  </p>
	<% f.fields_for :gifts do |builder| %>
	<p>
		<%= builder.label :name, "Gift name:" %>
		<%= builder.text_field :name %><br/>
		<%= builder.label :price, "Price:" %>
		<%= builder.text_field :price %><br/>
		<%= builder.label :total_donations, "Donations:" %>
		<%= builder.text_field :total_donations %>
	</p>
	<% end %>

  <p><%= f.submit %></p>
<% end %>
