<div class = "fields">
	<p>
		<%= f.label :name, "Gift name:" %>
		<%= f.text_field :name %><br/>
		<%= f.label :price, "Price:" %>
		<%= f.text_field :price %><br/>
		<%= link_to_remove_fields "remove", f %>
	</p>
</div>